.home-hero-section {
  padding-top: 4rem;
  width: 60vw;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
  color: #1e2a45;
  text-align: center;
}

.col-2-section {
display: grid;
grid-template-columns: repeat(2, 50%);
align-items: center;
justify-items: center;
}

.logo {
  /* width: 60%; */
  height: 50%;
  /* margin: auto; */
}

body {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;

}


.home-hero-contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}